.navBar_color{
   background-color:rgb(48, 48, 175) !important;
   color: white;
}
#heder_menue{
    padding: 10px;
    margin-right: 10px;
    padding-left: 20px;

}
#home_menue{
    margin-right: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
#launches_menue{
    color: white;
    font-weight: bold;
    font-size: 20px;
}